[tool.poetry]
name = "jiren"
version = "0.1.1"
description = "jinja2 template renderer"
authors = ["Takahiro Yano <speg03@gmail.com>"]

readme = "README.md"
license = "MIT"

homepage = "https://github.com/speg03/jiren"

keywords = ["jinja2", "template", "render", "text", "preprocessing"]
classifiers = [
    "Development Status :: 3 - Alpha",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Pre-processors",
    "Topic :: Software Development :: Libraries :: Python Modules"
]

[tool.poetry.dependencies]
python = "^3.5"
jinja2 = "^2.10"

[tool.poetry.dev-dependencies]
pytest = "^5.0"
pytest-cov = "^2.7"
black = {version = "^19.3b0",python = "^3.6"}
flake8 = "^3.7"
isort = "^4.3"
jedi = "^0.14.0"

[tool.poetry.scripts]
jiren = "jiren.cli:main"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
