[tool.poetry]
name = "jiren"
version = "0.4.0"
description = "jinja2 template renderer"
authors = ["Takahiro Yano <speg03@gmail.com>"]

readme = "README.md"
license = "MIT"

homepage = "https://github.com/speg03/jiren"
repository = "https://github.com/speg03/jiren"

keywords = ["jinja2", "template", "render", "text", "preprocessing"]
classifiers = [
    "Development Status :: 4 - Beta",
    "Environment :: Console",
    "Intended Audience :: Developers",
    "Operating System :: OS Independent",
    "Topic :: Software Development :: Pre-processors",
    "Topic :: Software Development :: Libraries :: Python Modules"
]

[tool.poetry.dependencies]
python = "^3.7"
jinja2 = "^3.0"
importlib-metadata = { version = "*", python = "<3.8" }

[tool.poetry.dev-dependencies]
pytest = "^7.1"
pytest-cov = "^3.0"
black = "^22.3"
flake8 = "^4.0"
isort = "^5.10"

[tool.poetry.scripts]
jiren = "jiren.cli:main"

[tool.isort]
profile = "black"

[tool.pytest.ini_options]
addopts = "--cov=jiren --cov-report=term-missing --cov-report=xml"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
